[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/zsh/plugins/geometry"]
	path = config/zsh/plugins/geometry
	url = git@github.com:geometry-zsh/geometry.git
[submodule "config/zsh/plugins/zsh-autosuggestions"]
	path = config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "config/ranger/plugins/ranger-gitplug"]
	path = config/ranger/plugins/ranger-gitplug
	url = git@github.com:yxngh/ranger-gitplug.git
[submodule "config/ranger/plugins/ranger_devicons"]
	path = config/ranger/plugins/ranger_devicons
	url = git@github.com:alexanderjeurissen/ranger_devicons.git
[submodule "config/ranger/plugins/ranger-archives"]
	path = config/ranger/plugins/ranger-archives
	url = git@github.com:maximtrp/ranger-archives.git
[submodule "config/ranger/plugins/ranger-fzf-marks"]
	path = config/ranger/plugins/ranger-fzf-marks
	url = git@github.com:laggardkernel/ranger-fzf-marks.git
[submodule "submodules/prezto"]
	path = submodules/prezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "config/zsh/plugins/fzf-tab"]
	path = config/zsh/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "config/awesome/module/rubato"]
	path = config/awesome/module/rubato
	url = git@github.com:andOrlando/rubato.git
[submodule "config/awesome/module/bling"]
	path = config/awesome/module/bling
	url = git@github.com:BlingCorp/bling.git
