[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "config/zsh/plugins/zsh-autosuggestions"]
	path = config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:numbnet/zsh-autosuggestions.git
[submodule "config/zsh/plugins/zsh-completions"]
	path = config/zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
